@import 'scaling.css';

@font-face {
    src: url('./Montserrat-Regular.ttf');
    font-family: 'Montserrat';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Montserrat', sans-serif;

    color: var(--text);

    transition: color .3s, background .3s;
}

:root {
    --surface: #fafafa; /* #FAFAFA */
    --standout: #fff; /* #FFF */
    --text: #222; /* #222 */
    --shadow: #8888; /* #6668 */
}

html, body {
    overflow-x: hidden;
}

body {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;

    background: var(--standout);
    box-shadow: 0 0 1rem var(--shadow);
    z-index: 1;
}

button {
    color: transparent;
    background: linear-gradient(to right, #ff4b4b, #4b4bff);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;

    cursor: pointer;

    border: 0 transparent none;
    border-radius: .8rem .8rem .3rem .8rem;

    font-size: 1rem;
    font-weight: bold;

    padding: .75rem 1.5rem;

    transition: .3s;

    outline: 0 transparent none;
}

button:active, button:focus, button:hover {
    color: white;
    background: linear-gradient(to right, #ff4b4b, #4b4bff);
}

.logo {
    height: 4rem;
}

#settings-btn {
    margin-left: auto;
    margin-right: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: var(--surface);
}

#searchform {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchmsg {
    font-size: 3rem;
    text-align: center;

    margin-bottom: 2rem;

    color: transparent;
    background: linear-gradient(to right, #ff4b4b, #4b4bff);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

#searchbox {
    border: .1rem solid;
    border-image-source: linear-gradient(to right, #ff4b4b, #4b4bff);
    border-image-slice: 1;

    color: var(--text);
    background: var(--standout);

    box-shadow: 0 .3em 1rem var(--shadow);

    margin-bottom: 2rem;
    padding: 1rem;

    font-size: 1.5rem;

    width: 65vw;

    outline: 0 transparent none;
}

#searchbox:hover {
    border: .2rem solid;
    border-image-source: linear-gradient(to right, #ff4b4b, #4b4bff);
    border-image-slice: 1;

    padding: .9rem;
}

#searchbox:focus {
    border: .3rem solid;
    border-image-source: linear-gradient(to right, #ff4b4b, #4b4bff);
    border-image-slice: 1;

    padding: .82rem;
}

#searchbtn {
    width: min-content;
    box-shadow: 0 .3rem 1rem var(--shadow);

    font-size: 1.5rem;

    color: white;
    background: linear-gradient(to right, #ff4b4b, #4b4bff);

    border-radius: 1rem 1rem .3rem 1rem;

    padding: 1rem 3rem;

    transition: .3s;
}

#searchbtn:hover, #searchbtn:focus, #searchbtn:active {
    border-radius: 1.6rem 1.6rem .6rem 1.6rem;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background: var(--standout);
    box-shadow: 0 0 1rem var(--shadow);

    padding: 1rem 0;
}

a {
    color: transparent;
    background: linear-gradient(to right, #ff4b4b, #4b4bff);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    display: inline-grid;
    margin: 0 .1rem;
}

a::after {
    content: ' ';
    display: block;
    position: relative;
    left: -2%;
    bottom: 0;
    width: 104%;
    height: .1em;
    background: linear-gradient(to right, #ff4b4b, #4b4bff);
}

.github {
    font-weight: bold;
}

.panel {
    position: fixed;
    z-index: 3;

    background: var(--standout);
    box-shadow: 0 0 1rem var(--shadow);

    padding: 3vw;
    font-size: .8rem;

    top: 0;
    width: 40vw;
    height: 100vh;

    transition: .3s;
}

.panel-left {
    left: -50vw;
}

.panel-right {
    left: 110vw;
}

.panel h2, .panel h3 {
    margin: 1em 0 .5em 0;
}

.panel p {
    margin: .5em 0;
}

#close-btn {
    position: absolute;
    z-index: 4;

    background: linear-gradient(to right, #ff4b4b, #4b4bff);
    border-radius: 100%;
    box-shadow: 0 .3rem 1rem var(--shadow);

    top: 3vh;
    left: 110vw;

    width: 4vw;
    height: 4vw;

    padding: 1vw;

    transition: left .8s, transform .3s;
}

#close-btn:hover {
    cursor: pointer;
    transform: translateY(-.2rem);
    transition: .3s;
}

input[typr=radio] {
    background: #ff4b4b;
}

input[type=text] {
    border: 0 transparent none;
    border-bottom: .1rem solid;
    border-image-source: linear-gradient(to right, #ff4b4b, #4b4bff);
    border-image-slice: 1;

    color: var(--text);
    background: var(--surface);

    margin: 0 0 0 .5rem;
    padding: .25rem .5rem;

    width: min(80%, 20vw);

    outline: 0 transparent none;
}

input[type=text]:hover {
    border: 0 transparent none;
    border-bottom: .15rem solid;
    border-image-source: linear-gradient(to right, #ff4b4b, #4b4bff);
    border-image-slice: 1;

    padding-bottom: .1rem;
}

input[type=text]:focus {
    border: 0 transparent none;
    border-bottom: .2rem solid;
    border-image-source: linear-gradient(to right, #ff4b4b, #4b4bff);
    border-image-slice: 1;

    padding-bottom: .05rem;
}